
.category_nav {
    background-color: var(--bg02);
    display: flex;
}

.list_container {
    scroll-behavior: smooth;
    overflow: hidden;
    position: relative;
}

.list_container button {
    display: none;
}

.category_list {
    height: 3em;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    list-style: none;
}


.category_list li {
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--dark-gray);
    cursor: pointer;
}

.category_list li:hover, .all_categories:hover {
    background-color: white;
    box-shadow: var(--shadow01);
}


/* ..................................... */

/* ...Media Queries... */

/* .................................................. */
/* Small Screen  */
@media screen and (max-width: 992px) {
    .category_nav {
        display: none;
    }

}