
.footer_container {
    margin-top: auto;
   width: 100%;
}

/* ....Contact.... */

.main_container {
  width: 100%;
  /* margin-top: 30px; */
}

.contact_container {
  padding: 30px 40px;
  background-color: #f7f7fa;
  color: #404553;
  border-top: 1px solid #4045531f;
  border-bottom: 1px solid #4045531f;
}

.contact_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_header_info_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.contact_header_info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact_header_info_text {
  display: flex;
  flex-direction: column;
}

.contact_header_info div:first-of-type {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ....Categories.... */

.cats_main_container {
  background-color: var(--white);
  padding: 30px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cats_main_container h4 {
  color: #404553;
  font-size: 1rem;
  margin-bottom: 15px;
}

.cats_main_container ul {
  list-style: none;
}

.cats_main_container ul li {
  color: #404553;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.cats_main_container ul li:hover {
  color: var(--blue);
}

/* ....Social Info.... */

.social_info_container {
  background-color: var(--white);
  width: 100%;
  /* height: 80px; */
  padding: 0 150px 40px;
  color: #404553;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4045531f;
}

.apps_container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.social_container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.socials {
  display: flex;
  column-gap: 5px;
}

img {
  cursor: pointer;
}

/* ....More Info.... */

.more_info_container {
  padding: 0 40px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.more_info_container p {
  font-weight: 300;
  font-size: 14px;
}

.paymnets img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.more_links {
  list-style: none;
  display: flex;
}

.more_links li {
  white-space: nowrap;
  font-weight: 300;
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

.more_links li:hover {
  color: var(--blue);
}
/* .................................................. */
/* Medium Screen  */
@media (max-width: 1220px) {
  .contact_header_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5em;
  }
  .cats_main_container {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5em;
  }
  .cats_main_container div {
    width: max(15em, 30%);
  }
  .social_info_container {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
  }
  .more_info_container {
    padding-bottom: 5em;
    justify-content: center;
    gap: 3em;
  }
  .more_links {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .more_links li {
    width: 100px;
  }
}
