
.header_img_container {
    cursor: pointer;
    /* background-color: #3A86C2; */
}

.header_img_container img {
    width: 100%;
    object-fit: cover;
}


.imgs_slider_container {
    margin-top: 30px;
    position: relative;
    height: 19vw;
}

.imgs_slider_container .imgs_slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

.imgs_slider_container .imgs_slider img {
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    scroll-snap-align: center;
}

.imgs_slider_container button {
    width: 3vw;
    height: 3vw;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
} 

.imgs_slider_container button  i {
    font-size: 1vw;
}

.imgs_slider_container button:first-of-type {
    left: 30px;
}

.imgs_slider_container button:nth-of-type(2) {
    right: 30px;
}


.imgs_slider_container .pagination {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.imgs_slider_container .pagination span {
    display: block;
    background-color: var(--bg03);
    width: 30px;
    height: 3px;
    border-radius: 20px;
    transition: 0.3s all ease;
}

.imgs_slider_container .pagination span:first-of-type {
    background-color: var(--yellow);
}

