
.header_img_container {
    cursor: pointer;
    background-color: #3A86C2;
}

.header_img_container img {
    width: 100%;
    object-fit: cover;
}


.imgs_slider_container {
    position: relative;
}

.imgs_slider_container .imgs_slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.imgs_slider_container .imgs_slider img {
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imgs_slider_container button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
} 

.imgs_slider_container button img {
    width: 25px;
    height: 25px;
}

.imgs_slider_container button:first-of-type {
    left: 30px;
}

.imgs_slider_container button:nth-of-type(2) {
    right: 30px;
}


.imgs_slider_container .pagination {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.imgs_slider_container .pagination span {
    display: block;
    background-color: var(--bg03);
    width: 30px;
    height: 5px;
    border-radius: 20px;
    transition: 0.3s all ease;
}
