

.main_container {
    margin: 30px 0;
    background-color: var(--white);
    padding: 30px;
    position: relative;
    height: 29vw;
}

.main_container .scroll_btn {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.main_container .scroll_btn:nth-of-type(2) {
    right: 30px;
}

.main_container .header {
    display: flex;
    justify-content: space-between;
}

.main_container .header h2 {
    width: 100%;
    color: var(--dark-gray);
    margin-bottom: 30px;
}

.main_container .header button {
    width: 150px;
    height: 100%;
    padding: 15px 0;
    outline: none;
    border: 1px solid black;
    color: var(--dark-gray);
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
}

.main_container .products_container {
    height: 20vw;
    padding: 0 60px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.main_container .products_container::-webkit-scrollbar {
    display: none;
}

.main_container .product_container {
    min-width: 250px;
    position: relative;
    cursor: pointer;
}

.main_container .product_container img:first-of-type {
    height: 65%;
}

.main_container .product_container p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
}

.new_price_container {
    margin-top: 10px;
    font-weight: 300;
}

.new_price_container span {
    margin-left: 10px;
    font-weight: 600;
    color: var(--dark-gray);
}

.old_price_container {
    font-size: 12px;
}


.old_price_container span:first-of-type {
    margin-left: 10px;
    text-decoration: line-through;
}

.old_price_container span:nth-of-type(2) {
    color: var(--green);
    font-weight: 700;
    margin-left: 10px;
}

.main_container .product_container .product_footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.main_container .product_container .product_footer img {
    width: 60px;
}

.main_container .product_container .product_footer i, 
.main_container .product_container .product_footer span:first-of-type {
    color: var(--orange);
    margin: 0 2px;
    font-weight: 700;
}

.main_container .product_container .product_footer span:nth-of-type(2) {
    color: var(--light-gray);
    font-size: 10px;
}


