
.main_container {
    min-height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 15px;
}

.main_container img {
    width: 6vw;
    margin: 0 10px;
    cursor: pointer;
}