
.main_container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 15px;
    overflow: hidden;
}

.main_container img {
    width: 120px;
    margin: 0 10px;
    cursor: pointer;
}